// All black tones

$black-1: #050505;
$black-2: #1f1f1f;
$black-3: #2d2d2d;
$black-4: #3a3a3a;

// All white tones

$white-1: #ffffff;
$white-2: #f4f4f4;
$white-3: #e9e9e9;
$white-4: #757575;

// other colors
$purple: #a445ed;
$red: #ff5252;