@import './colors.scss';
$themes: (
  light: (
    text: $black-3,
    bg: $white-1,
    brand: #567567,
    toggleBg: $white-4,
    themeIcon: $white-4,
    borderColor: none,
    fieldBg: $white-2
    
  ),
  dark: (
    text: $white-1,
    bg: $black-1,
    brand: #abcabc,
    toggleBg: $purple,
    themeIcon: invert(29%) sepia(87%) saturate(2406%) hue-rotate(258deg) brightness(97%) contrast(91%),
    borderColor: $purple,
    fieldBg: $black-2
  ),
);

@mixin themify($themes) {
    @each $name, $values in $themes {
      .#{$name}-theme {
        $theme-map: $values !global;
        @content;
      }
    }
  }
  @function themed($key) {
    @return map-get($theme-map, $key);
  }